node_modules
.turbo
dist
.env
.DS_Store
npm-debug.log
yarn-error.log
pnpm-debug.log
coverage
*.log
*.tsbuildinfo
.cache
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
storybook-static
out
test-results*
playwright-*
.playwright
docs/*
.todo
.videos

.idea