//定义基色
$primary:#1A084D;
$success:#65A30D;
$warning:#FB923C;
$highWaring:#FEF08A;
$danger:#EC6A6F;
$blue:#0EA5E9;
$default:#444444;
$deepPurple:#019a45;
$purple:#7C3AED;
$coolWhite:#E3E5E5;
$yellow:#fdba74;
$deepYellow:#FCD34D;

//调和色
$white:#FAFAFA;
$plainWhite:#FFFFFF;

$holdplace:rgba(255, 255, 255, 0.7);

$font-common-largest-title-size:28px;
$font-common-large-title-size:24px;
$font-common-title-size:20px;
$font-common-middle-size:18px;
$font-common-mini-title-size:16px;
$font-common-mini-size:12px;
$font-common-smallest-size:11px;
$font-common-text-size:14px;


$common-border:0.05px solid #E3E5E5;

$common-fill-distance:0.75px;

$background-color:#110806;

$common-text-color:rgba(255, 255, 255, 0.5);

$common-line-height:1.3;

$common-border-radius:1.6px;

$font-family:Arial、Helvetica、Verdana;